@charset "utf-8"; 

$asciiHexMap: (
	" ": "%20",
	"\"": "%22",
	"#": "%23",
	"$": "%24",
	"%": "%25",
	"&": "%26",
	"@": "%40",
	"`": "%60",
	"<": "%3c",
	">": "%3e",
	"\\": "%5c",
	"^": "%5e",
	"{": "%7b",
	"|": "%7c",
	"}": "%7d"
);

@function getHexCode($asciiChar) {
	$hex: map-get($asciiHexMap, $asciiChar);
	@if($hex == null) {
		$hex: $asciiChar; 
	}
	@return $hex;
}

@function encodeURIComponent ($raw: '') {
  $str: $raw + ' ';
	$str_len: str_length($str);
	$result: '';
	@for $i from 1 through $str_len {
		$result: $result + getHexCode(str_slice($str, $i, $i));
	}
	@return $result;
}