@charset "utf-8"; 

$asciiHexMap: (
	"	": "%09",
	" ": "%20",
	"\"": "%22",
	"%": "%25",
	"/": "%2f",
	"<": "%3c",
	">": "%3e",
	"\\": "%5c",
	"^": "%5e",
	"`": "%60",
	"{": "%7b",
	"|": "%7c",
	"}": "%7d"
);

@function getHexCode($asciiChar) {
	$hex: map-get($asciiHexMap, $asciiChar);
	@if($hex == null) {
		$hex: $asciiChar; 
	}
	@return $hex;
}


@function encodeURIComponent ($str: '') {
	$str_len: str_length($str);
	$result: '';
	@for $i from 1 through $str_len {
		$result: $result + getHexCode(str_slice($str, $i, $i));
	}
	@return $result;
}